body {
  background-image: url(http://images2.fanpop.com/image/photos/13700000/Whare-s-Waldo-wheres-waldo-13776536-1024-768.jpg);
  background-color: black;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
#game {
  overflow: overlay;
  height: 100%;
  width: 75%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  text-align: center;
}
